#root {
  background: url(https://cdn.datacamp.com/main-app/assets/rebrand/backgrounds/sign-in-01a6c894c2c039d4d395b8f490c13555c5d53e6948f55199bd7515682994cd6f.svg);
  background-position: center -240px;
  background-repeat: repeat;
  background-color: #05192d;
}
