<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="dashboard.css" rel="stylesheet" />
</head>


<body>
    <main class="dashboard-container">

        <section class="stats-container">
            <div class="complaint-stats">
                <div>Total complaints aksdfjaknsdjf naksdnf;ias ndfoin asdfk adfanalksdnflaksdnf 1 </div>
                <div>Total complaints aksdfjaknsdjf naksdnf;ias ndfoin asdfk adfanalksdnflaksdnf 2 </div>
            </div>
            <div class="outpass-stats">
                <div>Total complaints aksdfjaknsdjf naksdnf;ias ndfoin asdfk adfanalksdnflaksdnf 3 </div>
                <div>Total complaints aksdfjaknsdjf naksdnf;ias ndfoin asdfk adfanalksdnflaksdnf 4 </div>
            </div>
        </section>

        <section class="news-container">
            <ul>
                <li>Charan is a bad guy</li>
                <li>ksajdioj okasijsaoidok jaiojsadfiasjdfoihasi hiadhsfa</li>
                <li>adifhasodi iajdksoi idiosdaiosfdkjdfkjidsidsj ksdfajoisd</li>
                <li>asdfh oihdoiisjoifjaoifjaoisdioawefiasjdfsdjfoi dfjoaisj/li>
                    <li>kkd ioajdsdn kaikadskkadk oadkjadkiak kdigjiojadioadjio askdfijadsaasdasdfadfg</li>
            </ul>
        </section>

    </main>
</body>

</html>