.main-login {
  display: flex;
}

.image-section {
  width: 60%;
  opacity: 0.7;
  background: url("https://lucknow.iiitiansnetwork.com/img/Lucknow/3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form-section {
  background-image: url("https://i.pinimg.com/originals/48/65/8b/48658b284e37b9d5bb354213847be3b1.jpg");
  color: #05192d;
  display: flex;
  width: 40%;
  flex-direction: column;
  border: 5px;
}

main,
section {
  margin: 0;
}
